* {
  font-family: sans-serif;
  text-decoration: none;
}

.b .gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.text-body {
  text-decoration: none;
  color: white;
}

.badge {
  cursor: pointer;
}

.galery .card {
  background-color: rgba(20, 20, 20, 0.904);
}

.galery .card-text {
  color: white;
}

#deskripsi {
  background-color: rgba(0, 0, 0, 0.596);
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 7%;
}

.desk-capt {
  color: white;
  text-align: center;
}
