.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}

.text-body {
  text-decoration: none;
  color: white;
}

.badge {
  cursor: pointer;
}

.galery .card {
  background-color: rgba(20, 20, 20, 0.904);
}

.card-text {
  color: white;
}
